# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# === KEAMANAN KHUSUS KOSTKU (DITAMBAHKAN) ===

# Proteksi Kunci Rahasia Admin SDK
# Ini mencegah file JSON rahasia terunggah ke GitHub
aplikasi-kost-ea478-firebase-adminsdk-*.json

# Pastikan google-services.json TIDAK terblokir karena ini diperlukan Flutter
!android/app/google-services.json

# File Konfigurasi Web & Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Folder Proyek Web (Dashboard Monitoring)
node_modules/
.next/
out/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Log Paket Manager
npm-debug.log*
yarn-debug.log*
yarn-error.log*